export DBT_PROFILES_DIR="/y/PROJET VALISOA 2026/data_pipeline/airflow/dags/dbt/valisoa_gold"
export DBT_PG_HOST=127.0.0.1
export DBT_PG_USER=airflow
export DBT_PG_PASSWORD=airflow
export DBT_PG_PORT=5434
export DBT_PG_DBNAME=airflow
