# PostgreSQL data
pgdata/

# Airflow local files
airflow/logs/
__pycache__/
*.pyc

# Python virtual env
airflow_venv/

# Docker / local artifacts
.env

data/excel_drop/archive/*
data/excel_drop/*.xlsx